@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700|PT+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Parisienne);

.reveal section img
{
  border:0px none white;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}

.reveal h1 {
	font-family: Montserrat;
  font-weight: bolder;
}

.reveal h2 {
	font-family: Montserrat;
  font-weight: normal;
}

.reveal h3 {
	font-family: Montserrat;
	font-weight: lighter;
	text-transform: none;
}

.reveal .withbackground h1, .reveal .withbackground h2, .reveal .withbackground h3 {
  text-shadow: 7px 7px 20px white, -7px -7px 20px white, 7px -7px 20px white, -7px 7px 20px white;
  color: black;
}

.reveal .hashtag {
  font-weight: bolder;
  font-family: Parisienne;
  color: #94ffff;
  font-size: 500%;
}

.notebook_app {
  background-color: #FFF;
}

.reveal .slide-number {
  position: fixed;
  display: block;
  right: 8px;
  bottom: 8px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #FFF;
  padding: 5px;
}

.rise-enabled .reveal .slide-number {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  right: 3.3em;
  bottom: 3.9em;
  font-size: 0%;
  color: #727272;
  background-color: transparent;
}

.reveal table th, .reveal table td {
  font-size: 170%;
}